body {
  background: #232323;
  margin: 0;
  font-family: 'Montserrat', 'Avenir';
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: white;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
  font-size: 12px;
}

.selected {
  background-color: steelblue;
  color: white;
}

button {
  border: none;
  background-color: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  cursor: pointer;
  font-size: 12px;
  outline: none;
}

button:hover {
  background-color: steelblue;
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}